body {
  margin: 0;
  /* padding: 0.5em; */

  background-color: seashell;
}

canvas {
  background-color: white;
  border: 1px solid black;
}

button {
  margin: 1em;
  width: 200px;
  height: 48px;

  display: block;
}

img {
  margin: 1em;

  display: inline-block;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
